<div *ngIf="news" class="row news_item_block">
  <div class="col-sm-9 col-12">
    <div class="row">
      <div class="col-sm-2 d-none d-sm-block"></div>
      <div class="col-sm-10 col-12">
        <div class="news_item_tag_block">
          <a *ngFor="let tag of news.tags" class="tag" href="{{ tag.url }}}">{{ tag.title }}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 d-none d-sm-block news_item_time_block">
        <span>{{ news.date | date: 'HH:mm' }}</span>
      </div>
      <div class="col-sm-10 col-12 news_item_body">
        <a class="article_title" routerLink="/news/{{ news.ID }}">{{ news.title }}</a>
        <div class="item_info_block">
          <div class="item_views_counter_block">
            <i class="fa fa-eye"></i>
            <span>{{ news.viewCount }}</span>
          </div>
          <div class="item_comments_counter_block">
            <i class="fa fa-comment"></i>
            <span>{{ news.commentsCount }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 d-none d-sm-block news_item_image_block">
    <a
      class="float-right news_item_image_container"
      routerLink="/news/{{ news.ID }}"
      style="
        background: url({{ news.image }}) center no-repeat;
        background-size: cover;
      "
    ></a>
  </div>
</div>
