<div class="analytics_article" style="width: 100%; display: inline-block">
  <a
    class="analytics_img_container"
    href="/analitycs/203676_pratsvnik-zakhvorv-pd-chas-vdpustki-zdysnyumo-pererakhunok-vdpusknikh"
    style="
      background: url('https://ligazakon.net/static_liga_net/THUMB/20170315_411_433x433.jpg') top center no-repeat;
      background-size: cover;
    "
    tabindex="-1"
  ></a>
  <div class="analytics_tags_block">
    <a class="tag" href="/temy/otpuska" tabindex="-1">Відпустки</a>
  </div>
  <a
    class="article_title"
    href="/analitycs/203676_pratsvnik-zakhvorv-pd-chas-vdpustki-zdysnyumo-pererakhunok-vdpusknikh"
    tabindex="-1"
    >Працівник захворів під час відпустки: здійснюємо перерахунок відпускних</a
  >
  <p
    class="article_description"
    href="/analitycs/203676_pratsvnik-zakhvorv-pd-chas-vdpustki-zdysnyumo-pererakhunok-vdpusknikh"
  >
    В сучасному медіа "Інтерактивна бухгалтерія" продовжили розповідати про тонкощі надання відпусток
  </p>
  <div class="item_info_block">
    <div class="item_date">20.05.2021, 13:00</div>
    <div class="item_views_counter_block">
      <i class="fa fa-eye"></i>
      <span>30</span>
    </div>
    <div class="item_comments_counter_block">
      <i class="fa fa-comment"></i>
      <span>0</span>
    </div>
  </div>
</div>
