.analytics_article {
  .analytics_img_container {
    display: block;
    height: 190px;
    width: 100%;
  }

  .analytics_tags_block {
    margin-top: 10px;

    .tag {
      display: inline-block;
      text-transform: uppercase;
      margin: 0;
      color: #42c348;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

  .article_title {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    word-break: break-word;
  }

  .article_description {
    display: block;
    line-height: 1.3;
    margin: 10px 0 15px;
  }
}

.item_info_block {
  margin-top: 10px;
  height: 20px;
  color: #bfbfbf;
  font-size: 14px;

  .item_date {
    min-width: 117px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
  }

  .item_views_counter_block {
    min-width: 67px;
    padding-right: 5px;
    display: inline-block;
    position: relative;
  }

  .item_comments_counter_block {
    display: inline-block;
    position: relative;
  }
}
